<a href="https://colab.research.google.com/github/jwon0117/2024-intro-DA-code/blob/main/w02_2_control_flow_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
n = 20
if n%2 == 0:
  print('짝수')

짝수

In [6]:
n = 21
if n%2 == 0:
  print("짝수")

In [7]:
age = 18
if age >= 20:
  print("성인")
else:
  print("미성년자")

미성년자

In [8]:
age = 21
if age >= 20:
  print("성인")
else:
  print("미성년자")

성인

In [9]:
age = 18
s = '성인' if age >= 20 else '미성년자'
print(s)

미성년자

In [10]:
age = 20
s = '성인' if age >= 20 else '미성년자'
print(s)

성인

In [12]:
point = 92
if point >= 90:
  print('A')
elif point >= 80:
  print('B')
elif point >= 70:
  print('C')
elif point >= 60:
  print('D')
else:
  print

A

In [14]:
point = 62
if point >= 90:
  print('A')
elif point >= 80:
  print('B')
elif point >= 70:
  print('C')
elif point >= 60:
  print('D')
else:
  print('F')

D

In [24]:
value = "apple"
match value:
  case 'apple':
    result = "사과"
  case 'banana':
    result = "바나나"

print(result)

사과

In [25]:
value = "banana"
match value:
  case 'apple':
    result = "사과"
  case 'banana':
    result = "바나나"

print(result)

바나나

In [26]:
value = "mango"
match value:
  case 'apple':
    result = "사과"
  case 'banana':
    result = "바나나"
  case _:
    result = None
print(result)

None

In [27]:
for x in range(1, 6):
  print(x)

1
2
3
4
5

In [29]:
num = [10, 20, 30, 40]
for i in num:
  print(i)

10
20
30
40

In [30]:
fruits = list (["apple ", 2500, "banaan", 500, "mango", 2000])
for x in fruits:
  print(x)

apple
2500
banaan
500
mango
2000

In [31]:
i = 1
sum = 0
while i <= 10:
  sum += i
  i += 1
print(sum)

55

In [32]:
def hello():
  print('hello, python!')

In [34]:
hello()

hello, python!

In [35]:
hello

In [36]:
type(hello)

function

In [39]:
def hi(one):
  print('안녕, ', one)

In [44]:
def hi(one = '친구들'):
  print('안녕, ', one)

In [45]:
hi()

안녕,  친구들

In [46]:
hi('철수')

안녕,  철수

In [50]:
import math as m
def circle_area(r = 1):
  print(m.pi * r**2)

In [52]:
circle_area(4.5)

63.61725123519331

In [53]:
circle_area(r = 5.6)

98.5203456165759

In [54]:
print(circle_area(r = 7.2))

162.8601631620949
None

In [56]:
import math as m
def circle_area(r = 1):
  return m.pi * r**2

print(circle_area(r = 7.2))

162.8601631620949

In [57]:
def sum_sub(x, y):
  hap = x + y
  cha = x -y
  return hap, cha

In [58]:
sum_sub(10, 3)

(13, 7)

In [59]:
sum_sub(x = 10, y = 3)

(13, 7)

In [60]:
sum_sub(y = 3, x = 10)

(13, 7)

In [65]:
import math as m
(lambda a, b: m.sqrt(a**2 + b**2))(3, 4)

5.0